@font-face {
    font-family: "Graphique";
    src: url(graphique.otf);
}

@font-face {
    font-family: "Montserrat Light";
    src: url(Montserrat-Light.otf);
}

@font-face {
    font-family: "Montserrat";
    src: url(Montserrat-Regular.otf);
}


.section-title {
  color: #313131;
  letter-spacing: 1px;
  margin: 0 0 20px;
  font-family: "Graphique";
  color: white;
  font-weight: 100;
  font-size: 50px;
  text-transform: uppercase;
  text-align: center;
}

.btn {
  border: 0;
  border-radius: 5px;
  padding: 10px 25px;
  color: white;
  letter-spacing: 1px;
  background-color: #E46E24;
  box-shadow: 0px 7px 0px #BE5B1D;
  font-weight: normal;
  -webkit-transition:all 0.4s ease;
}

.btn:hover{
  color: white;
  transform: translateY(4px);
  box-shadow: 0px 4px 0px #BE5B1D;
}

.btn:active,.btn:visited {
    color: white;
}

.col-aftermovie {
    padding-top: 5px;
    padding-bottom: 5px;
}

.aftermovie-title {
    text-align: center;
    padding-bottom: 20px;
}

.ribbon{
  margin:auto; 
  width: 40%; 
  margin-top: -50px;
}

.ribbonheading{
  margin-top: -85px;
  font-size: 50px;
  color: #313131;
  font-family: "Graphique";
  color: white;
  font-weight: 100;
  text-transform: uppercase;
  text-align: center;
}

.speaker{
  background-color: #F3E4C7;
  padding: 10px;
}

.speaker h4{
  font-family: "Montserrat Light";
  font-weight: lighter;
}

.headingimg{
  margin-bottom: 50px;
}

#performers h3{
  margin-top: -85px;
}

#perfribbon{
  width: 55%;
}

#contact-us h3{
  font-size: 45px;
  margin-top: -90px;
}

#gallery h3{
  margin-top: -90px;
}

h2{
  font-family: "Montserrat"
}

p{
  font-family: "Montserrat Light";
}

@media only screen and (max-device-width: 768px) {
      .ribbon{
  margin:auto; 
  width: 45%; 
  margin-top: -50px;
}

.ribbonheading{
  margin-top: -60px;
  font-size: 35px;
}

.headingimg{
  margin-bottom: 50px;
   }

   #performers h3{
  margin-top: -60px;
}

#perfribbon{
  width: 60%;
}

#gallery h3{
  margin-top: -65px;
}

#contact-us h3{
  font-size: 43px;
  margin-top: -90px;
}

#contactimg{
  width: 60%;
}
    }

@media only screen and (max-device-width: 425px) {
      .ribbon{
  margin:auto; 
  width: 80%; 
  margin-top: -20px;
}

#about p{
  width: 90%;
  margin: auto;
  font-size: 14px;
}

#about h2{
  text-align: center;
  font-size: 25px;
}

#aboutimg{
  margin: auto;
  width: 80%;
  margin-bottom: 50px;
}

.ribbonheading{
  margin-top: -60px;
  font-size: 35px;
}

.headingimg{
  margin-bottom: 50px;
   }

   #performers h3{
    font-size: 30px;
  margin-top: -55px;
}

#perfribbon{
  width: 100%;
}

#gallery h3{
  margin-top: -60px;
}

#galleryimg{
  width: 70%;
}

#contact-us h3{
  font-size: 35px;
  margin-top: -70px;
}

#contactimg{
  width: 90%;
}
    }


@media only screen and (max-device-width: 375px) {
      .ribbon{
  margin:auto; 
  width: 80%; 
  margin-top: -50px;
}

.ribbonheading{
  margin-top: -53px;
  font-size: 30px;
}

.headingimg{
  margin-bottom: 50px;
   }

   #performers h3{
  margin-top: -50px;
}

#perfribbon{
  width: 100%;
}

#gallery h3{
  margin-top: -50px;
}
#galleryimg{
  width: 70%;
}

#contact-us h3{
  font-size: 35px;
  margin-top: -70px;
}

#contactimg{
  width: 100%;
}
    }    



.slideanim {visibility:hidden;}
.slide {
    animation-name: slide;
    -webkit-animation-name: slide;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    visibility: visible;
}

@keyframes slide {
  0% {
    opacity: 0;
    transform: translateY(70%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
@-webkit-keyframes slide {
  0% {
    opacity: 0;
    -webkit-transform: translateY(70%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
  }
}
